* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main container */
.main-container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* header */

header {
    top: 0;
    position: sticky;
    background-color: rgba(223, 242, 235, 0.9);
    border-bottom: solid #7AB2D3;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    margin: 0;
    align-items: center;
}

.nav nav {
    justify-content: center;
    align-content: center;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.nav nav ul li {
    display: flex;
    align-items: center;
}
.nav ul li a {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav .nav-logo a {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.nav ul li a:hover {
    font-weight: 600;
}

/* Burger King */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all .3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* button */
.btn {
    padding: 1rem 1.5rem;
    background: transparent;
    border: 1.5px solid gray;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.099) 0px 5px 7px;
    border: 2px solid lightseagreen ;
}

/* main - article */
.jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    padding: 60px;
    background-image: url(/assets/images.jpeg);
    text-align: center;
    color: whitesmoke;
    height: 25rem;
}

.jumbotron h1 {
    font-size: 4rem;
}

.card {
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
    margin: 2rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.lebar-kiri {
    width: 50%;
}

.card .judul {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.card .description {
    font-size: 1.2rem;
}

.card .images img {
    width: 25rem;
}

/* footer */
footer {
    padding: 4rem 0;
    width: 100%;
    background-color: #DFF2EB;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 .5rem;
}

.footer-icons svg {
    fill: #7AB2D3;
}

.footer-icons a:hover svg.github {
    fill: #000;
}

.footer-icons a:hover svg.linked {
    fill: #0E76A8;
}

.footer-icons a:hover svg.insta {
    fill: #FE0B81;
}

.footer-icons h1 {
    padding-top: .5rem;
    font-size: 1rem;
    color: #7AB2D3;
    transition: .2s ease-in-out;
}

.footer-icons h1:hover {
    color: #4A628A;
    font-weight: bolder;
}
/* end of footer */

@media screen and (max-width: 1000px) {
    .card {
        flex-direction: column;
    }

    .card .lebar-kiri {
        flex: 1;
    }

    .card .images {
        flex: -1;
    }
}

@media screen and (max-width: 825px) {
    /* burger */
    .burger {
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1 {
        transform: rotate(-45deg) translate(-5px, 8px);
    }

    .toggle-burger .line-2 {
        opacity: 0;
    }

    .toggle-burger .line-3 {
        transform: rotate(45deg) translate(-5px, -8px);
    }

    
    /* nav */
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #DFF2EB;
        border-left: 1px solid #7AB2D3;
        z-index: 9;
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    nav ul {
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-active {
        transform: translate(0);
    }
}